---
import Layout from "../layouts/Layout.astro"
import ComicStitcher from "../components/ComicStitcher.svelte"
---

<Layout title="Mangaga · 漫画拼贴">
	<main class="bg-base-200 flex min-h-0 flex-1 flex-col items-center py-4">
		<ComicStitcher client:load />
	</main>
</Layout>
